<div class="row">
    
    <div class="col-md-6">
        <div class="vertc">
            <%= image_tag('SEO-bkg-phone.jpg') %>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="center">
            <h3>
                <div><u>SEO Analysis & Improvement</u></div>
            </h3>
            <p>
                Not many people checking out your website? If you google it does it even come up? Well guess what motherfucker, we'll make it happen! Our team(literally just me) has been learing and implementing the best and most up to date SEO practices for years! 
            </p>
        </div>
    &nbsp;
        <h4>SEO Analysis & Improvement includes:</h4>
        <ul>
            <li><strong>Preliminary SEO analysis for your full website</strong></li>
            <li><strong>Improvement of out dated SEO practices</strong></li>
            <li><strong>Implementation of current best SEO practices</strong></li>
            <li><strong>Creation of linked social media accounts</strong></li>
            <li><strong>Social media integration in order to create orgainc backlinks and website visits</strong></li>
        </ul>
        &nbsp;
    </div>
    
</div>