<div class="row">
    
    <div class="col-md-6">
        <div class="center">
            <h3>
                <div><u>Website Optimization</u></div>
            </h3>
            <p>
                Is your website boring? Is your website out of date? Does it just not have that modern moving shit with a simplistic design and intuitive menu feel that you've grown so accustom to seeing on every hip website for a startup coming out of silicon valley? Do you just not want to have to pay to remove that annoying "wix.com" from the footer of your Wix website? Well have I got good news for you!
            </p>
        </div>
    &nbsp;
        <h4>I code in all these languages/libraries!</h4>
        <ul>
            <li><strong>Ruby</strong></li>
            <li><strong>Ruby on Rails</strong>(I wrote this website in ROR)</li>
            <li><strong>HTML</strong></li>
            <li><strong>CSS/SASS</strong></li>
            <li><strong>Bootstrap</strong></li>
            <li><strong>SQLite</strong></li>
            <li><strong>Javascript</strong></li>
            <li><strong>React</strong></li>
        </ul>
    <div class="center">
        <p>
            I can make your website faster! Cooler looking! Slower! Better! Whatever you want your website to be I can do it! Cats everywhere? Done. A picture of your aunt making out with Ted Cruz on a buring airship? I've already photoshopped it and uploaded it to your website! It's done! Really, even if you want it to look shitty I'll set it up! Bam!
        </p>
        &nbsp;
    </div>
    </div>
    
    <div class="col-md-6">
        <div class="vertc">
            <%= image_tag('Website-image-phone.jpg') %>
        </div>
    </div>
    
</div>