    <div class="row">
    <div class="col-md-6">
        <div class="center">
            <h3>
                <div><u>Social Media Profile Creation</u></div>
            </h3>
            <p>
                We're professionsals when it comes to social media. At Social Curation, each of our staff members are required to not only create new social media accounts on all popular platforms in addition to their already existing accounts, but maintain these accounts using the latest best social media practices. If you need an account update, new personal account, or fake account* you can be sure that you're in the best hands. We literally do nothing but practice SEO and social media growth strategies in our spare time. 
            </p>
        </div>
    &nbsp;
        <h4>What we do:</h4>
            <ul>
                <li><strong>Friendship?</strong> Only online.</li> 
                <li><strong>Hobbies?</strong> No.</li> 
                <li><strong>Tinder?</strong> My 45 Facebook accounts all have their own Tinder.</li>
                <li><strong>Alcohol?</strong> I haven't stopped drinking for 2 years, because of the stress of maintaining popularity on every existing social media platform for 45 different, imaginary people.
                <li><strong>Who am I?</strong> No idea at this point.</li> 
                <li><strong>What can I do for you?</strong> Fucking Social Media, thats what.</li>  
            </ul>
        &nbsp;
    </div>
    
    <div class="col-md-6">
        <div class="vertc">
            <%= image_tag('social-media-phone.jpg') %>
        </div>
    </div>
</div>