<div class="row">
    
    <div class="col-md-6">
        <div class="vertc">
            <%= image_tag('social-media-phone.jpg') %>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="center">
            <h3>
                <div><u>Social Media Curation</u></div>
            </h3>
            <p>
                Want more Instagram followers? More Facebook friends? I got you. Besides writing code alone in my one room apt, curating my 45 individual social media personalities is literally the only thing that makes me believe for a second that I have friends. And thats why I'm so good at it.
            </p>
        </div>
        <ul>
            <li><strong>Not enough Facebook friends?</strong> I'll make you seem more fun, post some engaging stuff, join like 16 Facebook groups and constantly start meaningful threads in them. You'll be so popular you won't ever have time for your real friends!</li>
            <li><strong>Want Instagram followers?</strong> I got you! Not only will I collect and analyze your Instagram data for you, I'll post in a consistent manner following engagment trends to maximize your likes and steadily gain followers.</li>
            <li><strong>Is that putting too much thought into social media?</strong> Only if you don't want to be good at it!</li>
            <li><strong>Guess what else?</strong> Linkedin: Done. Youtube: Super Done. Literally every form of social media: Done. Anything I don't know: I'll learn it, implement best practices, and make your account successful! I'll even make the accounts!</li>
        </ul>
    &nbsp;
    </div>
    
</div>