<svg id="mySVG" class="flip90">
  <path fill="none" stroke="white" stroke-width="3" id="trii" d="
		M125.815,15.703c0-2.23,3.127-14.462,20.023-14.462c19.75,0,24.97,19.541,24.97,26.143c0,7.52-2.836,26.375-25.336,26.375
		s-40.78-39.263-79.5-39.263c-23.613,0-32.28,38.911-49.905,38.911c-9.75,0-14.875-5.625-14.875-11.875
		c0-6.625,4.438-11.125,11.563-11.125c6.592,0,9.562,4.75,9.562,9.25"/>
</svg>



<script>
  /* SVG draw on scroll */
// Get the id of the <path> element and the length of <path>
var trii = document.getElementById("trii");
var length = trii.getTotalLength();

// The start position of the drawing
trii.style.strokeDasharray = length;

// Hide the triangle by offsetting dash. Remove this line to show the triangle before scroll draw
trii.style.strokeDashoffset = length;

// Find scroll percentage on scroll (using cross-browser properties), and offset dash same amount as percentage scrolled
window.addEventListener("scroll", myFunction);

function myFunction() {
var scrollpercent = (document.body.scrollTop + document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);
// multiply scrollpercent by # to increase speed
  var draw = length * (scrollpercent * 7.5);
  
  // Reverse the drawing (when scrolling upwards)
  trii.style.strokeDashoffset = length - draw;
}
</script>