<div #id="mySvg">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="360.000000pt" height="304.000000pt" viewBox="0 0 360.000000 304.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,304.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path 
fill="none" stroke="white" stroke-width="3" id="triangle"
d="M2090 3013 c-323 -35 -723 -223 -991 -466 -150 -136 -177 -166 -160
-176 11 -7 10 -15 -8 -44 -29 -48 -103 -226 -130 -315 -75 -247 -92 -526 -44
-719 5 -22 2 -23 -51 -23 -50 0 -56 2 -60 23 -3 12 -9 40 -15 62 -9 38 -10 37
-8 -25 l1 -65 -52 -3 c-48 -3 -52 -5 -52 -28 l0 -25 142 3 143 3 -1 30 c-1 17
-9 80 -19 140 -15 96 -16 126 -6 232 19 201 91 454 174 618 17 33 33 74 36 90
4 21 39 62 121 141 269 258 645 440 1023 494 81 12 87 15 87 37 0 21 -4 23
-47 21 -27 0 -64 -3 -83 -5z"/>
<path 
fill="none" stroke="white" stroke-width="3" id="triangle"
d="M2962 2801 c60 -38 182 -155 252 -239 167 -206 282 -446 338 -707 30
-142 30 -360 0 -501 -74 -344 -244 -641 -497 -865 -91 -80 -288 -229 -345
-260 -34 -18 -46 -31 -48 -52 -3 -22 1 -27 18 -27 36 0 113 46 241 142 357
270 554 546 654 918 24 91 25 108 25 363 0 237 -2 278 -20 348 -45 176 -122
346 -231 509 -77 116 -279 324 -359 369 -70 39 -89 41 -28 2z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2656 2790 c-79 -24 -150 -106 -180 -209 -35 -119 -5 -332 43 -302
11 7 11 15 1 47 -30 90 -4 243 55 320 116 151 281 112 503 -120 163 -170 280
-392 337 -641 13 -55 24 -91 24 -80 0 11 -8 61 -19 110 -62 279 -179 503 -355
681 -164 164 -296 227 -409 194z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1420 2554 c-41 -25 -102 -69 -135 -97 -82 -71 -85 -74 -85 -89 0 -7
-10 -18 -22 -23 -27 -12 -31 -48 -6 -53 11 -2 22 6 29 20 16 35 179 168 261
213 40 22 74 48 76 58 6 31 -40 19 -118 -29z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1625 2590 c-3 -5 -45 -30 -94 -55 -92 -48 -123 -76 -333 -307 -89
-97 -109 -138 -68 -138 34 0 76 38 191 172 126 146 162 178 267 233 70 36 77
43 80 73 3 26 0 32 -17 32 -11 0 -23 -4 -26 -10z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2672 2223 c53 -57 63 -90 62 -203 0 -94 -4 -116 -37 -214 -44 -129
-91 -220 -152 -298 -38 -49 -59 -64 -137 -102 -105 -51 -238 -92 -348 -107
-163 -23 -292 21 -337 116 l-14 30 6 -40 c19 -117 102 -165 286 -165 149 0
311 41 459 115 84 42 128 87 186 185 89 151 136 310 137 461 1 85 -2 102 -27
152 -17 35 -39 64 -60 76 -46 29 -55 26 -24 -6z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2320 2118 c34 -103 60 -249 60 -342 0 -49 -9 -104 -30 -175 -16 -58
-28 -106 -26 -108 7 -7 69 71 82 103 22 53 27 133 15 247 -20 180 -73 348
-112 355 -14 3 -13 -9 11 -80z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M710 2101 c0 -36 -11 -94 -29 -152 -35 -114 -45 -178 -33 -210 l9
-24 7 25 c4 14 28 87 52 163 24 76 44 155 44 175 0 56 -10 82 -31 82 -16 0
-19 -8 -19 -59z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M982 2128 c-3 -13 -27 -66 -54 -118 -34 -65 -59 -133 -80 -215 -46
-183 -46 -177 -12 -173 28 3 29 6 56 119 20 86 40 142 77 213 39 73 51 107 51
140 0 31 -5 46 -16 50 -11 4 -18 -1 -22 -16z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1196 1405 c-3 -9 -6 -210 -6 -445 l0 -429 -92 -3 -93 -3 -3 -28 -3
-28 118 3 118 3 0 470 c0 426 -2 470 -16 473 -9 2 -19 -4 -23 -13z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1450 1058 c0 -200 -3 -400 -7 -445 l-6 -83 -78 0 c-94 0 -109 -5
-109 -36 0 -24 0 -24 120 -24 l120 0 0 475 c0 468 0 475 -20 475 -20 0 -20 -7
-20 -362z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M418 1073 l-3 -68 -67 -3 -68 -3 0 -143 c0 -150 5 -168 47 -181 22
-6 22 -5 8 22 -11 20 -15 61 -15 141 l0 112 43 0 c40 0 43 3 70 50 34 63 39
140 7 140 -17 0 -19 -8 -22 -67z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1702 929 l3 -211 28 -24 c38 -32 54 -30 31 4 -17 24 -19 52 -22 235
-3 199 -4 207 -23 207 -20 0 -20 -6 -17 -211z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2096 1125 c-3 -9 -6 -146 -6 -305 l0 -288 -80 -4 -80 -3 0 43 c0 49
-7 52 -41 16 -46 -50 -94 -66 -180 -62 -69 3 -81 6 -115 34 -21 17 -49 50 -61
74 -19 35 -23 39 -23 19 0 -47 46 -126 91 -156 40 -26 50 -28 143 -28 88 0
106 3 138 23 36 23 36 23 43 2 6 -18 15 -20 110 -20 58 0 105 4 107 10 2 5 25
3 57 -6 38 -12 83 -15 160 -12 90 3 114 7 156 29 69 35 105 89 112 166 9 99
-28 173 -108 213 -49 25 -64 26 -23 1 58 -35 79 -77 79 -157 0 -62 -3 -75 -29
-108 -46 -61 -112 -86 -227 -86 -58 0 -116 6 -148 16 l-53 15 7 42 c5 23 11
87 14 142 5 87 8 97 18 78 19 -32 64 -61 153 -98 77 -32 90 -33 90 -11 0 24
-20 38 -91 67 -81 33 -131 67 -157 107 -14 21 -17 49 -17 142 0 98 -2 115 -16
118 -9 2 -19 -4 -23 -13z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M897 1086 c23 -26 49 -68 58 -94 19 -56 30 -159 21 -196 l-6 -26
-200 0 -199 0 10 -29 c11 -31 37 -53 79 -66 23 -7 23 -7 -5 18 l-30 26 188 1
187 0 0 130 c0 101 -4 138 -16 163 -21 42 -62 85 -98 104 -28 15 -28 13 11
-31z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2551 1098 c-5 -18 -13 -48 -16 -66 -6 -29 -10 -33 -28 -28 -118 34
-179 25 -185 -26 -3 -22 3 -30 28 -43 18 -9 34 -14 38 -11 3 3 0 6 -6 6 -7 0
-12 7 -12 15 0 24 48 29 105 11 86 -27 90 -25 109 49 20 81 20 111 0 119 -22
9 -21 9 -33 -26z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M396 720 c14 -82 16 -183 2 -191 -21 -14 -166 -10 -201 5 -36 15 -69
47 -91 91 -16 29 -16 29 -16 5 0 -32 32 -100 56 -122 39 -34 91 -48 176 -47
121 1 132 6 138 58 l5 43 23 -25 c45 -48 116 -70 234 -75 120 -5 255 18 265
44 3 9 0 48 -7 89 -10 59 -16 74 -33 79 -19 5 -19 1 -13 -59 l6 -63 -32 -12
c-49 -18 -231 -25 -293 -11 -100 22 -174 88 -211 188 l-15 38 7 -35z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M590 220 l0 -180 -35 0 c-28 0 -35 -4 -35 -20 0 -19 7 -20 105 -20
l105 0 0 66 c0 56 2 65 17 62 11 -2 23 -24 35 -66 l19 -62 289 0 290 0 0 46
c0 41 -2 45 -22 42 -15 -2 -24 -11 -26 -26 -3 -21 -7 -22 -106 -22 l-102 0
-11 28 -11 27 -1 -28 -1 -28 -107 3 -108 3 -3 161 c-2 159 -3 161 -26 172 -24
11 -24 10 -10 -16 23 -45 18 -90 -15 -122 -27 -28 -28 -30 -11 -45 14 -13 50
-121 50 -150 0 -3 -13 -5 -30 -5 -33 0 -45 16 -55 75 -10 51 -31 75 -67 75
l-28 0 0 -75 0 -75 -35 0 -35 0 0 180 c0 153 -2 180 -15 180 -13 0 -15 -27
-15 -180z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1324 376 c-6 -25 -9 -26 -75 -26 l-69 0 0 -45 c0 -41 2 -45 25 -45
16 0 25 6 25 15 0 12 15 15 71 15 l70 0 -3 52 c-2 40 -7 54 -20 56 -12 2 -19
-5 -24 -22z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M1720 221 l0 -181 -35 0 -35 0 0 85 0 85 -32 20 c-46 28 -51 25 -17
-9 23 -24 29 -38 29 -74 0 -81 -62 -117 -176 -102 -54 6 -56 6 -52 -17 3 -22
6 -23 112 -26 71 -2 113 1 122 9 10 8 14 8 14 0 0 -7 33 -11 100 -11 l100 0
17 35 c9 19 20 35 25 35 5 0 16 -16 25 -35 16 -35 18 -35 80 -35 58 0 63 2 63
21 0 12 -21 55 -46 97 l-45 75 17 32 c29 54 39 63 75 67 28 2 35 7 37 30 3 25
1 26 -53 30 l-57 3 -35 -59 c-20 -33 -36 -64 -36 -70 0 -6 18 -40 40 -76 71
-116 69 -110 25 -110 -37 0 -39 2 -76 70 l-38 71 -34 -71 c-32 -67 -35 -70
-69 -70 -39 0 -41 4 -20 40 9 16 14 56 15 115 l0 90 22 -35 c12 -19 23 -37 24
-39 2 -1 8 0 14 4 11 7 -41 112 -82 164 -18 23 -18 20 -18 -158z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2482 296 c-61 -103 -62 -105 -62 -180 l0 -76 -35 0 c-28 0 -35 -4
-35 -20 0 -18 7 -20 60 -20 l60 0 0 74 c0 73 1 77 60 178 62 106 70 141 35
146 -17 2 -33 -18 -83 -102z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M207 343 c-4 -3 -7 -73 -7 -155 l0 -148 -35 0 c-28 0 -35 -4 -35 -20
0 -18 7 -20 60 -20 l60 0 0 144 0 145 28 3 c21 2 28 9 30 31 3 26 2 27 -46 27
-27 0 -52 -3 -55 -7z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M2167 343 c-4 -3 -7 -73 -7 -155 l0 -148 -35 0 c-28 0 -35 -4 -35
-20 0 -18 7 -20 60 -20 l60 0 0 145 0 145 33 0 c29 0 35 -5 66 -66 22 -43 37
-62 44 -55 6 6 -5 39 -34 95 l-44 86 -51 0 c-28 0 -54 -3 -57 -7z"/>
<path 
style="fill:none;stroke:#333333;stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"
d="M370 120 l0 -80 -35 0 c-28 0 -35 -4 -35 -20 0 -18 7 -20 60 -20 l60
0 0 75 0 75 50 0 c47 0 50 2 50 25 0 24 -2 25 -75 25 l-75 0 0 -80z"/>
</g>
</svg>
</div>

<script>
// Get the id of the <path> element and the length of <path>
var triangle = document.getElementById("triangle");
var length = triangle.getTotalLength();

// The start position of the drawing
triangle.style.strokeDasharray = length;

// Hide the triangle by offsetting dash. Remove this line to show the triangle before scroll draw
triangle.style.strokeDashoffset = length;

// Find scroll percentage on scroll (using cross-browser properties), and offset dash same amount as percentage scrolled
window.addEventListener("scroll", myFunction);

function myFunction() {
  var scrollpercent = (document.body.scrollTop + document.documentElement.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);

  var draw = length * scrollpercent;

  // Reverse the drawing (when scrolling upwards)
  triangle.style.strokeDashoffset = length - draw;
}
</script>