<% provide(:title, "home") %>
<div class="skrollr-mobile">
  <div class="skrollable">
<div id="skrollr-body">
  <div class="bcg">
    <div class="center">
      <div id="logo"><u>Social Curation</u></div>
    </div>
    <%= render 'slide' %>

      <div class="center">
        <div id="logo"><u>Services</u></div>
      </div>  
      &nbsp;
        <%= render 'serv1' %>
        <%= render 'serv2' %>
        <%= render 'serv3' %>
        <%= render 'serv4' %>
      <div class="center">
        <div id="logo"><u>Pricing</u></div>
      </div>  
      &nbsp;
        <%= render 'products' %>
      &nbsp;
        <%= render 'messages/new' %>
    </div>

<div id="slide-f">
  <div class="bcg">
      <p>*Fake accounts will not be made to impersonate existing people. Fake accounts may not be used to harrass anyone in any way. Failure to comply with these rules and all rules outlined in our contracts and/or about page will result in termination of your service(s) and/or contract(s). By using our any of our services/website you agree to these terms and that you will not hold the owner/creator of this website liable for any and all damages, legal and/or otherwise.</p>
  </div>
</div>


</div>
</div>
</div>