<% provide(:title, "Services") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div clas="col-md-6">
    <div class="center">
        <div id="logo-two">
            Services
        </div>
        &nbsp;
        
        <h3>
            <div id="social"><u>Social Media Profile Creation</u></div>
        </h3>
        <p>
            We're professionsals when it comes to social media. At Social Curation, each of our staff members are required to not only create new social media accounts on all popular platforms in addition to their already existing accounts, but maintain these accounts using the latest best social media practices. If you need an account update, new personal account, or fake account* you can be sure that you're in the best hands. We literally do nothing but practice SEO and social media growth strategies in our spare time. 
        </p>
    </div>
    &nbsp;
        <h4>What we do:</h4>
            <ul>
                <li><strong>Friendship?</strong> Only online.</li> 
                <li><strong>Hobbies?</strong> No.</li> 
                <li><strong>Tinder?</strong> My 45 Facebook accounts all have their own Tinder.</li>
                <li><strong>Alcohol?</strong> I haven't stopped drinking for 2 years, because of the stress of maintaining popularity on every existing social media platform for 45 different, imaginary people.
                <li><strong>Who am I?</strong> No idea at this point.</li> 
                <li><strong>What can I do for you?</strong> Fucking Social Media, thats what.</li>  
            </ul>
        &nbsp;
        
    <div class="center">
        <h3>
            <div id="SEO"><u>SEO Analysis & Improvement</u></div>
        </h3>
        <p>
            Not many people checking out your website? If you google it does it even come up? Well guess what motherfucker, we'll make it happen! Our team(literally just me) has been learing and implementing the best and most up to date SEO practices for years! 
        </p>
    </div>
    &nbsp;
        <h4>SEO Analysis & Improvement includes:</h4>
        <ul>
            <li><strong>Preliminary SEO analysis for your full website</strong></li>
            <li><strong>Improvement of out dated SEO practices</strong></li>
            <li><strong>Implementation of current best SEO practices</strong></li>
            <li><strong>Creation of linked social media accounts</strong></li>
            <li><strong>Social media integration in order to create orgainc backlinks and website visits</strong></li>
        </ul>
        &nbsp;

    <div class="center">
        <h3>
            <div id="website"><u>Website Optimization</u></div>
        </h3>
        <p>
            Is your website boring? Is your website out of date? Does it just not have that modern moving shit with a simplistic design and intuitive menu feel that you've grown so accustom to seeing on every hip website for a startup coming out of silicon valley? Do you just not want to have to pay to remove that annoying "wix.com" from the footer of your Wix website? Well have I got good news for you!
        </p>
    </div>
    &nbsp;
        <h4>I code in all these languages/libraries!</h4>
        <ul>
            <li><strong>Ruby</strong></li>
            <li><strong>Ruby on Rails</strong>(I wrote this website in ROR)</li>
            <li><strong>HTML</strong></li>
            <li><strong>CSS/SASS</strong></li>
            <li><strong>Bootstrap</strong></li>
            <li><strong>SQLite</strong></li>
            <li><strong>Javascript</strong></li>
            <li><strong>React</strong></li>
        </ul>
    <div class="center">
        <p>
            I can make your website faster! Cooler looking! Slower! Better! Whatever you want your website to be I can do it! Cats everywhere? Done. A picture of your aunt making out with Ted Cruz on a buring airship? I've already photoshopped it and uploaded it to your website! It's done! Really, even if you want it to look shitty I'll set it up! Bam!
        </p>
        &nbsp;
        
        <h3>
            <div id="social-med"><u>Social Media Curation</u></div>
        </h3>
        <p>
            Want more Instagram followers? More Facebook friends? I got you. Besides writing code alone in my one room apt, curating my 45 individual social media personalities is literally the only thing that makes me believe for a second that I have friends. And thats why I'm so good at it.
        </p>
    </div>
        <ul>
            <li><strong>Not enough Facebook friends?</strong> I'll make you seem more fun, post some engaging stuff, join like 16 Facebook groups and constantly start meaningful threads in them. You'll be so popular you won't ever have time for your real friends!</li>
            <li><strong>Want Instagram followers?</strong> I got you! Not only will I collect and analyze your Instagram data for you, I'll post in a consistent manner following engagment trends to maximize your likes and steadily gain followers.</li>
            <li><strong>Is that putting too much thought into social media?</strong> Only if you don't want to be good at it!</li>
            <li><strong>Guess what else?</strong> Linkedin: Done. Youtube: Super Done. Literally every form of social media: Done. Anything I don't know: I'll learn it, implement best practices, and make your account successful! I'll even make the accounts!</li>
        </ul>
    &nbsp;
    &nbsp;
    <p class="tiny">*Fake accounts will not be made to impersonate existing people. Fake accounts may not be used to harrass anyone in any way. Failure to comply with these rules and all rules outlined in our contracts and/or about page will result in termination of your service(s) and/or contract(s). By using our any of our services/website you agree to these terms and that you will not hold the owner/creator of this website liable for any and all damages, legal and/or otherwise.</p>
</div>
</meta>
