<% provide(:title, "Contact") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="row">
  <div class="col-md-6 col-centered">
    <h5>Interested in any of our services?</h5> 
    <h5>Have questions about what we do?</h5> 
    <h5>Don't hesitate to contact us!</h5>
    &nbsp;
    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'name' %>
      <%= f.email_field :email, placeholder: 'email' %>
      <%= f.text_area :content, placeholder: 'message' %>
      <%= f.submit 'Send' %>
    <% end %>
  </div>
</div>
</meta>