@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #161616;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

html, body {
    margin: 0;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
}

.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.1em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $white;
}

.tiny {
  padding-top: 10em;
  font-size: 0.9em;
  line-height: 0.9em;
  letter-spacing: -1px;
}

/* header */
header {
  background-image: url(social-media-header.png);
  background-repeat: no-repeat;
  opacity: 0.6;
  background-position: center top;
}

#logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.0em;
  color: $dark-gray;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: normal;
  u {
     text-decoration: underline;
  }
}

#logo-two {
  font-family: 'Abril Fatface', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

#logo-three {
  font-family: 'Abril Fatface', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

#logo-four {
  font-family: 'Abril Fatface', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $white;
}

#phone-logo-1 {
  font-family: 'Berkshire Swash', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 2.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

#phone-logo-2 {
  font-family: 'Berkshire Swash', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0px
}

.navbar-nav {
    display:inline-block;
    float:none;
    margin-bottom: 0px
}

.navbar-static-top {
  margin-bottom: 0px
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* footer(no footer) */
/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Slider */
.flexslider { 
  height: 550px;
  width: 710px;
  margin:0 auto;
  background-color: transparent;
  border: none;
}

.slides { 
  height: 750px;
  width: 710px;
  margin:0 auto;
  border-radius: 5px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  padding-right: 20em;
  padding-left: 15em;
}

.vertc {
    min-height: 100%;  
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-header {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-left: 15px;
  text-align: left;
  font-weight: normal;
  color: $black;
  font-family: 'Abril Fatface', cursive;
}

/* sidebar */

#logo-four-phone {
  font-family: 'Abril Fatface', cursive;
  line-height: 1;
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
/* Skrollr */

#slide-1 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg1.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-2 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg2.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-3 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg3.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-4 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg7.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
}

#slide-5 .bcg {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  p {
    color: $white;
    opacity: 0.7; 
  }
  li {
    color: $white;
    opacity: 0.7; 
  }
}

#slide-f .bcg {
  height: 30px;
  width: 100%;
  background: $dark-gray-darker;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-bottom: 0px;
  p {
    color: $white;
    font-size: 0.9em;
    line-height: 0.9em;
    letter-spacing: -1px;
    padding-bottom: 0px;
  }
}

#slide-bcg .bcg {
  height: 100%;
  width: 100%;
  background: $dark-gray-darker;
  //background-image: url('bkg10.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  padding-top: 5em;
  padding-bottom: 3em;
}

#slide-test .bcg {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-image: url('bkg3.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  border-radius: 25px;
}

#slide-x .bcg {
  height: 200px;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0px;
  h1 {
    color: $white;
    opacity: 0.7;
  }
}

.con {
  padding-left: 25em;
  padding-right: 25em;
}

#slides-padded {
  padding-left: 25px;
  padding-right: 25px;
}

#mySvg {
  position: static;
}

.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.flip90 {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

.flex-direction-nav a:before {
    font-family:"Arial";
    font-size: 40px;
    line-height:1;
    display: inline-block;
    content:'<';
}

.flex-direction-nav a.flex-next:before {
    content:'>';
}
