<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      
  </head>
    <body>
    <%= render 'layouts/application_layout' %>
  </body>
</html>
