<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="skrollr-body">
        <%= render 'layouts/application_layout' %>
        <%= yield %>
   
    <script type="text/javascript">
	    skrollr.init({
		    forceHeight: false;
		    smoothScrolling: true
	    });
	  </script>
	  </div>
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">


